<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #edit-blog {
            text-align: center;
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
            width: 500px;
        }

        #edit-blog h1 {
            font-size: 36px;
            color: #333;
        }

        #edit-blog label {
            font-size: 18px;
            color: #333;
            display: block;
            text-align: left;
            margin-top: 10px;
        }

        #edit-blog input[type="text"],
        #edit-blog textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            outline: none; /* Remove default input outline */
        }

        #edit-blog textarea {
            height: 200px;
        }

        #edit-blog button {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #edit-blog button:hover {
            background-color: #ddd;
            color: #333;
        }
    </style>
</head>
<body>
<div id="edit-blog">
    <h1>Edit Blog</h1>
    <form th:action="@{'/editAddBlog/' + ${blog.getId()}}" method="post">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${blog.title}" required />

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" th:value="${blog.author}" required />

        <label for="excerpt">Excerpt:</label>
        <input type="text" id="excerpt" name="excerpt" th:value="${blog.excerpt}" required />

        <label for="content">Content:</label>
        <textarea id="content" name="content" required th:text="${blog.content}"></textarea>

        <input type="hidden" th:field="*{blogId}" th:value="${blog.getId()}" />
        <input type="submit" value="Update" />
    </form>
</div>
</body>
</html>
